:root {
--color00: #181515;
--color01: #181515;
--color02: #181515;
--color03: #B6A8A5;
--color04: #F4E6D2;
--color05: #F4E6D2;
--color06: #F4E6D2;
--color07: #F4E6D2;
--color08: #CA3F3F;
--color09: #E39C45;
--color0A: #eab471;
--color0B: #989F56;
--color0C: #629386;
--color0D: #517894;
--color0E: #C45497;
--color0F: #d56767;
}
