/*

Omarchy Steam Theme
Last Modified: 2025-11-15

*/

:root {
    /* The main accent color and the matching text value */
    --adw-accent-bg-rgb: 81, 120, 148 !important;
    --adw-accent-fg-rgb: 24, 21, 21 !important;
    --adw-accent-rgb: 81, 120, 148 !important;

    /* destructive-action buttons */
    --adw-destructive-bg-rgb: 202, 63, 63 !important;
    --adw-destructive-fg-rgb: 244, 230, 210 !important;
    --adw-destructive-rgb: 202, 63, 63 !important;

    /* Levelbars, entries, labels and infobars. These don't need text colors */
    --adw-success-bg-rgb: 152, 159, 86 !important;
    --adw-success-fg-rgb: 34, 30, 30 !important;
    --adw-success-rgb: 152, 159, 86 !important;

    --adw-warning-bg-rgb: 234, 180, 113 !important;
    --adw-warning-fg-rgb: 24, 21, 21 !important;
    --adw-warning-fg-a: 0.8 !important;
    --adw-warning-rgb: 234, 180, 113 !important;

    --adw-error-bg-rgb: 202, 63, 63 !important;
    --adw-error-fg-rgb: 34, 30, 30 !important;
    --adw-error-rgb: 202, 63, 63 !important;

    /* Window */
    --adw-window-bg-rgb: 24, 21, 21 !important;
    --adw-window-fg-rgb: 244, 230, 210 !important;

    /* Views - e.g. text view or tree view */
    --adw-view-bg-rgb: 34, 30, 30 !important;
    --adw-view-fg-rgb: 244, 230, 210 !important;

    /* Header bar, search bar, tab bar */
    --adw-headerbar-bg-rgb: 24, 21, 21 !important;
    --adw-headerbar-fg-rgb: 244, 230, 210 !important;
    --adw-headerbar-border-rgb: 66, 57, 57 !important;
    --adw-headerbar-backdrop-rgb: 34, 30, 30 !important;
    --adw-headerbar-shade-rgb: 0, 0, 0 !important;
    --adw-headerbar-shade-a: 0.36 !important;
    --adw-headerbar-darker-shade-rgb: 0, 0, 0 !important;
    --adw-headerbar-darker-shade-a: 0.9 !important;

    /* Split pane views */
    --adw-sidebar-bg-rgb: 24, 21, 21 !important;
    --adw-sidebar-fg-rgb: 244, 230, 210 !important;
    --adw-sidebar-backdrop-rgb: 66, 57, 57 !important;
    --adw-sidebar-shade-rgb: 0, 0, 0 !important;
    --adw-sidebar-shade-a: 0.36 !important;

    --adw-secondary-sidebar-bg-rgb: 24, 21, 21 !important;
    --adw-secondary-sidebar-fg-rgb: 244, 230, 210 !important;
    --adw-secondary-sidebar-backdrop-rgb: 66, 57, 57 !important;
    --adw-secondary-sidebar-shade-rgb: 0, 0, 0 !important;
    --adw-secondary-sidebar-shade-a: 0.36 !important;

    /* Cards, boxed lists */
    --adw-card-bg-rgb: 255, 255, 255 !important;
    --adw-card-bg-a: 0.08 !important;
    --adw-card-fg-rgb: 255, 255, 255 !important;
    --adw-card-shade-rgb: 0, 0, 0 !important;
    --adw-card-shade-a: 0.36 !important;

    /* Dialogs */
    --adw-dialog-bg-rgb: 34, 30, 30 !important;
    --adw-dialog-fg-rgb: 244, 230, 210 !important;

    /* Popovers */
    --adw-popover-bg-rgb: 34, 30, 30 !important;
    --adw-popover-fg-rgb: 244, 230, 210 !important;

    /* Thumbnails */
    --adw-thumbnail-bg-rgb: 34, 30, 30 !important;
    --adw-popover-fg-rgb: 244, 230, 210 !important;

    /* Miscellaneous */
    --adw-shade-rgb: 0, 0, 0 !important;
    --adw-shade-a: 0.36 !important;
}
