@define-color selected-text #E39C45;
@define-color selected-vibrant #eab471;
@define-color text #F4E6D2;
@define-color base #221E1E;
@define-color border #423939;
@define-color foreground #F4E6D2;
@define-color background #181515;
