@define-color background #181515;
@define-color foreground #F4E6D2;
@define-color black #221E1E;
@define-color red #CA3F3F;
@define-color green #989F56;
@define-color yellow #E39C45;
@define-color blue #517894;
@define-color magenta #C45497;
@define-color cyan #629386;
@define-color white #B6A8A5;
@define-color bright_black #423939;
@define-color bright_red #d56767;
@define-color bright_green #aeb474;
@define-color bright_yellow #eab471;
@define-color bright_blue #6a92ae;
@define-color bright_magenta #d17aae;
@define-color bright_cyan #7fa99e;
@define-color bright_white #F4E6D2;
